<template>
    <div>
      <div class="add-item">
        <h3>Добавить товар</h3>
        <button class="button button-primary" @click="openAddModal">
          Добавить
        </button>
      </div>
      <div class="sort-section">
        <label for="sort-order">Сортировка по рейтингу:</label>
        <select id="sort-order" v-model="sortOrder" @change="sortItems">
          <option value="asc">По возрастанию</option>
          <option value="desc">По убыванию</option>
        </select>
      </div>
      <div class="columns-container">
        <div class="column">
          <h2>Необработанные ({{ column1Items.length }})</h2>
          <draggable v-model="column1Items" class="column-list" group="columns">
            <div
              v-for="(item, index) in column1Items"
              :key="item.id"
              class="item"
              :class="getColumnClass(index, 'Необработанные')"
            >
              <div class="item-content">
                <img :src="item.image" alt="Изображение товара" />
                <div>
                  <h3>{{ item.title }}</h3>
                  <div class="item-details">
                    <p>Рейтинг: {{ item.rating.rate }}</p>
                    <p>Оценки: {{ item.rating.count }}</p>
                    <p>Цена: {{ item.price }}</p>
                    <p>Категория: {{ item.category }}</p>
                  </div>
                  <p>{{ item.description }}</p>
                </div>
              </div>
              <div class="item-actions">
                <button
                  class="button button-primary"
                  @click="moveToInProgress(item)"
                >
                  В работу
                </button>
                <button
                  class="button button-secondary"
                  @click="openEditModal(item)"
                >
                  Редактировать
                </button>
                <button
                  class="button button-danger"
                  @click="deleteItem(item, 'Необработанные')"
                >
                  Удалить
                </button>
              </div>
            </div>
          </draggable>
        </div>
        <div class="column">
          <h2>В работе ({{ column2Items.length }})</h2>
          <draggable v-model="column2Items" class="column-list" group="columns">
            <div
              v-for="(item, index) in column2Items"
              :key="item.id"
              class="item"
              :class="getColumnClass(index, 'В работе')"
            >
              <div class="item-content">
                <img :src="item.image" alt="Изображение товара" />
                <div>
                  <h3>{{ item.title }}</h3>
                  <div class="item-details">
                    <p>Рейтинг: {{ item.rating.rate }}</p>
                    <p>Оценки: {{ item.rating.count }}</p>
                    <p>Цена: {{ item.price }}</p>
                    <p>Категория: {{ item.category }}</p>
                  </div>
                  <p>{{ item.description }}</p>
                </div>
              </div>
              <div class="item-actions">
                <button class="button button-primary" @click="completeItem(item)">
                  Завершить
                </button>
                <button
                  class="button button-secondary"
                  @click="openEditModal(item)"
                >
                  Редактировать
                </button>
                <button
                  class="button button-danger"
                  @click="deleteItem(item, 'В работе')"
                >
                  Удалить
                </button>
              </div>
            </div>
          </draggable>
        </div>
        <div class="column">
          <h2>Завершенные ({{ column3Items.length }})</h2>
          <draggable v-model="column3Items" class="column-list" group="columns">
            <div
              v-for="(item, index) in column3Items"
              :key="item.id"
              class="item"
              :class="getColumnClass(index, 'Завершенные')"
            >
              <div class="item-content">
                <img :src="item.image" alt="Изображение товара" />
                <div>
                  <h3>{{ item.title }}</h3>
                  <div class="item-details">
                    <p>Рейтинг: {{ item.rating.rate }}</p>
                    <p>Оценки: {{ item.rating.count }}</p>
                    <p>Цена: {{ item.price }}</p>
                    <p>Категория: {{ item.category }}</p>
                  </div>
                  <p>{{ item.description }}</p>
                </div>
              </div>
              <div class="item-actions">
                <button
                  class="button button-secondary"
                  @click="openEditModal(item)"
                >
                  Редактировать
                </button>
                <button
                  class="button button-danger"
                  @click="deleteItem(item, 'Завершенные')"
                >
                  Удалить
                </button>
              </div>
            </div>
          </draggable>
        </div>
        <div v-if="showEditModal" class="modal">
          <div class="modal-content">
            <h2>Редактирование товара</h2>
            <form @submit.prevent="editItem" class="form">
              <div class="form-group">
                <label for="edit-title">Название</label>
                <input
                  type="text"
                  id="edit-title"
                  v-model="editedItem.title"
                  required
                />
              </div>
              <div class="form-group">
                <label for="edit-rating">Рейтинг</label>
                <input
                  type="text"
                  id="edit-rating"
                  v-model="editedItem.rating.rate"
                  required
                />
              </div>
              <div class="form-group">
                <label for="edit-price">Цена</label>
                <input
                  type="text"
                  id="edit-price"
                  v-model="editedItem.price"
                  required
                />
              </div>
              <div class="form-group">
                <label for="edit-category">Категория</label>
                <input
                  type="text"
                  id="edit-category"
                  v-model="editedItem.category"
                  required
                />
              </div>
              <div class="form-group">
                <label for="edit-description">Описание</label>
                <textarea
                  id="edit-description"
                  v-model="editedItem.description"
                  required
                ></textarea>
              </div>
              <button class="button button-primary" type="submit">
                Сохранить
              </button>
              <button class="button button-secondary" @click="closeEditModal">
                Отмена
              </button>
            </form>
          </div>
        </div>
        <div v-if="showAddModal" class="modal">
          <div class="modal-content">
            <h2>Добавление товара</h2>
            <form @submit.prevent="addItem" class="form">
              <div class="form-group">
                <label for="add-title">Название</label>
                <input
                  type="text"
                  id="add-title"
                  v-model="newItem.title"
                  required
                />
              </div>
              <div class="form-group">
                <label for="add-rating">Рейтинг</label>
                <input
                  type="text"
                  id="add-rating"
                  v-model="newItem.rating.rate"
                  required
                />
              </div>
              <div class="form-group">
                <label for="add-price">Цена</label>
                <input
                  type="text"
                  id="add-price"
                  v-model="newItem.price"
                  required
                />
              </div>
              <div class="form-group">
                <label for="add-category">Категория</label>
                <input
                  type="text"
                  id="add-category"
                  v-model="newItem.category"
                  required
                />
              </div>
              <div class="form-group">
                <label for="add-description">Описание</label>
                <textarea
                  id="add-description"
                  v-model="newItem.description"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <label for="add-image">Изображение</label>
                <input
                  type="file"
                  id="add-image"
                  accept="image/*"
                  @change="handleImageUpload"
                  required
                />
                <img
                  v-if="selectedImage"
                  :src="selectedImage"
                  alt="Выбранное изображение"
                  class="selected-image"
                />
              </div>
              <button class="button button-primary" type="submit">
                Добавить
              </button>
              <button class="button button-secondary" @click="closeAddModal">
                Отмена
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  import { ref, onMounted, computed } from "vue";
  import axios from "axios";
  import draggable from "vuedraggable"; 
  
  export default {
    name:"TheBase",
    components: {
      draggable,
    },
    setup() {
      const column1Items = ref([]);
      const column2Items = ref([]);
      const column3Items = ref([]);
      const showEditModal = ref(false);
      const showAddModal = ref(false);
      const editedItem = ref(null);
      const newItem = ref({
        title: "",
        rating: {
          rate: "",
          count: 0,
        },
        price: "",
        category: "",
        description: "",
        image: null,
      });
      const selectedImage = ref(null);
      const sortOrder = ref("asc");
  
      const fetchProducts = async () => {
        try {
          const response = await axios.get("https://fakestoreapi.com/products");
          const products = response.data.map((product) => ({
            ...product,
            ratingCount: Math.floor(Math.random() * 100) + 1,
          }));
          column1Items.value = products;
          column2Items.value = [];
          column3Items.value = [];
        } catch (error) {
          console.log(error);
        }
      };
  
      onMounted(() => {
        fetchProducts();
      });
  
      const getColumnClass = (index, columnTitle) => {
        if (columnTitle === "Необработанные") {
          return index % 2 === 0 ? "even-item-blue" : "odd-item-blue";
        } else if (columnTitle === "В работе") {
          return index % 2 === 0 ? "even-item-green" : "odd-item-green";
        } else if (columnTitle === "Завершенные") {
          return index % 2 === 0 ? "even-item-red" : "odd-item-red";
        }
      };
  
      const moveToInProgress = (item) => {
        const index = column1Items.value.findIndex((i) => i.id === item.id);
        if (index !== -1) {
          column1Items.value.splice(index, 1);
          column2Items.value.push(item);
        }
      };
  
      const completeItem = (item) => {
        const index = column2Items.value.findIndex((i) => i.id === item.id);
        if (index !== -1) {
          column2Items.value.splice(index, 1);
          column3Items.value.push(item);
        }
      };
  
      const openEditModal = (item) => {
        editedItem.value = { ...item };
        showEditModal.value = true;
      };
  
      const closeEditModal = () => {
        showEditModal.value = false;
      };
  
      const editItem = async () => {
        try {
          await axios.put(
            `https://fakestoreapi.com/products/${editedItem.value.id}`,
            editedItem.value
          );
          closeEditModal();
        } catch (error) {
          console.log(error);
        }
      };
  
      const deleteItem = (item, columnTitle) => {
        if (columnTitle === "Необработанные") {
          const index = column1Items.value.findIndex((i) => i.id === item.id);
          if (index !== -1) {
            column1Items.value.splice(index, 1);
          }
        } else if (columnTitle === "В работе") {
          const index = column2Items.value.findIndex((i) => i.id === item.id);
          if (index !== -1) {
            column2Items.value.splice(index, 1);
          }
        } else if (columnTitle === "Завершенные") {
          const index = column3Items.value.findIndex((i) => i.id === item.id);
          if (index !== -1) {
            column3Items.value.splice(index, 1);
          }
        }
      };
  
      const addItem = () => {
        const newId = column1Items.value.length + 1;
        const newItemWithId = {
          ...newItem.value,
          id: newId,
          image: selectedImage.value,
        };
        column1Items.value.push(newItemWithId);
        newItem.value = {
          title: "",
          rating: {
            rate: "",
            count: 0,
          },
          price: "",
          category: "",
          description: "",
          image: null,
        };
        closeAddModal();
      };
      const openAddModal = () => {
        showAddModal.value = true;
      };
      const closeAddModal = () => {
        showAddModal.value = false;
      };
  
      const handleImageUpload = (event) => {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = () => {
          selectedImage.value = reader.result;
          newItem.value.image = reader.result;
        };
        reader.readAsDataURL(file);
      };
  
      const sortItems = () => {
        if (sortOrder.value === "asc") {
          column1Items.value.sort((a, b) => a.rating.rate - b.rating.rate);
          column2Items.value.sort((a, b) => a.rating.rate - b.rating.rate);
          column3Items.value.sort((a, b) => a.rating.rate - b.rating.rate);
        } else {
          column1Items.value.sort((a, b) => b.rating.rate - a.rating.rate);
          column2Items.value.sort((a, b) => b.rating.rate - a.rating.rate);
          column3Items.value.sort((a, b) => b.rating.rate - a.rating.rate);
        }
      };
  
      const sortedColumn1Items = computed(() => {
        sortItems();
        return column1Items.value;
      });
  
      return {
        column1Items,
        column2Items,
        column3Items,
        getColumnClass,
        moveToInProgress,
        completeItem,
        openEditModal,
        closeEditModal,
        editItem,
        deleteItem,
        showEditModal,
        showAddModal,
        editedItem,
        newItem,
        addItem,
        openAddModal,
        closeAddModal,
        handleImageUpload,
        selectedImage,
        sortOrder,
        sortItems,
        sortedColumn1Items,
      };
    },
  };
  </script>