
.columns-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 270px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.column h2 {
  text-align: center;
}
.column-list {
  min-height: 100px;
  flex-grow: 1;
}

.sort-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.sort-section label {
  margin-right: 10px;
}

.sort-section select {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
}
.item img {
  width: 240px;
  height: auto;
  margin-right: 10px;
}

.add-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.add-item-title {
  text-align: center;
}
.item-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.item-details {
  margin-bottom: 10px;
}
.item-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.selected-image {
  max-width: 200px;
  height: auto;
}
.even-item-blue {
  background-color: #cfe2f3;
}
.odd-item-blue {
  background-color: #dce6f5;
}
.even-item-green {
  background-color: #d4f5d4;
}
.odd-item-green {
  background-color: #e0f5e0;
}
.even-item-red {
  background-color: #f8c2c2;
}
.odd-item-red {
  background-color: #f9d1d1;
}
.button {
  background-color: #4c51bf;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.button-primary {
  background-color: #4c53db;
}
.button-secondary {
  background-color: #718096;
}
.button-danger {
  background-color: #e53e3e;
}
.button:hover {
  background-color: #434190;
}
/* Стили для модального окна */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}
.modal-content h2 {
  margin-bottom: 10px;
}
.modal-content .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-content .form-group label {
  font-weight: bold;
}
.modal-content .form-group input,
.modal-content .form-group textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-content button {
  margin-top: 10px;
}
