<template>
  <Base></Base>
</template>

<script>
import Base from "@/Components/Base.vue"

export default {
    components: {
      Base,
    }
}
</script>

<style>
@import "@/Components/Style.css";
</style>